body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer {
    background-color:aquamarine;
    height: 50px;
}

main {
    text-align: center;
}

#add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-text {
    width: 200px;
}

#library-list {
    display: flex;
    justify-content: center;
}