body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer {
    background-color:aquamarine;
    height: 10vh;
}

main {
    text-align: center;
}